In [2]:
#Import necessory libraries
import selenium
import pandas as pd
import time
import  requests
from  bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

## Reviews from Flipkart.com

In [2]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Desktop\chromedriver.exe")

In [3]:
url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(2)
#clicking on cancel buttopn 
driver.find_element_by_xpath("//div[@class='_2QfC02']/button").click()

In [4]:
srch_items = ['laptops', 'Phones','smart watches','Monitors']

In [5]:
title = []
review_text = []
ratings = []

In [6]:
def scrap():    
        for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
            review_text.append(i.text)
        for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
            title.append(i.text)
        for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']/../div"):
            ratings.append(i.text)
        return

In [7]:
urls=[]

In [8]:
for i in srch_items:
    #Find search bar
    srchBar = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
    srchBar.clear()
    srchBar.send_keys(i)
    #clicking on search button
    driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()
    time.sleep(3)
    page = []
    for i in driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a"):
        page.append(i.get_attribute('href'))
    for i in page[0:4]:
        driver.get(i)
        time.sleep(3)
        items = driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
        for i in items:
            urls.append(i.get_attribute('href'))

In [9]:
len(urls)

384

In [10]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    for _ in range(2):
        driver.execute_script("window.scrollBy(0,6000)")
        time.sleep(1)
        #clicking on all reviews
    try:
        btn=driver.find_element_by_xpath("//div[@class='_2c2kV-']/following::a")
        lnk = btn.get_attribute('href')
        driver.get(lnk)
        time.sleep(1)
    except NoSuchElementException:
        pass

    scrap()        
    try:
        n_page=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
        np=[]
        for i in n_page:
            np.append(i.get_attribute('href'))
        for i in np[0:18]:
            driver.get(i)
            time.sleep(1)
            scrap()
    except: continue

In [11]:
len(ratings), len(review_text), len(title)

(28494, 28494, 28494)

In [12]:
#creating a dataframe
data = list(zip(title,review_text,ratings))
df2 = pd.DataFrame(data, columns = ["Review_title","Reiew_text","Ratings"])
df2

,Review_title,Reiew_text,Ratings
0,Super!,Most Powerful Portable laptop...\nBuild qualit...,5
1,Just wow!,I was a little apprehensive initially when I o...,5
2,Highly recommended,I was looking for a powerful and compact lapto...,5
3,Terrific purchase,Just blown away with this beast machine!\nAfte...,5
4,Nothing special,The product is very good in some aspects but v...,1
...,...,...,...
28489,Nice product,good product,4
28490,Awesome,Very good as expected and happy with the purchase,5
28491,Awesome,I love it! No complaint!,5
28492,Nice product,good product,4
28493,Awesome,Very good as expected and happy with the purchase,5

In [13]:
#saving the data into csv file
df2.to_csv(r"C:\Users\ABHINANDAN\Desktop\flipkrt1_reviews.csv")

## Reviews from amazon.in

In [23]:
driver = webdriver.Chrome(r"C:\Users\ABHINANDAN\Desktop\chromedriver.exe")

In [24]:
url = "https://www.amazon.in/"
driver.get(url)
time.sleep(3)

In [33]:
srch_items = ['laptops','phones','headphones','smart watches', 'Professional Cameras', 'Printers', 'Monitors', 'Home theater', 'Router']

In [26]:
title = []
review_text = []
ratings = []

In [34]:
for i in srch_items:
    srchbar = driver.find_element_by_id("twotabsearchtextbox")
    srchbar.send_keys(i)
    driver.find_element_by_id("nav-search-submit-button").click()  #clicking on search button
    time.sleep(1)
    item_url = []
    for i in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a"):
        item_url.append(i.get_attribute('href'))
    for i in item_url:
        driver.get(i)
        time.sleep(1)
        for _ in range(2):
            driver.execute_script("window.scrollBy(0,6000)")
            time.sleep(1)
        #click on see all reviews
        try:
            driver.find_element_by_xpath("//a[@class='a-link-emphasis a-text-bold']").click()
        except:
            pass
        
        url_ = []
        try:
            two_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[4]/td[2]/a")
            url_.append(two_str.get_attribute('href'))
        except: pass
        try:
            three_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[3]/td[2]/a")
            url_.append(three_str.get_attribute('href'))
        except: pass
        try:
            one_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[5]/td[2]/a")
            url_.append(one_str.get_attribute('href'))
        except: pass
        try:
            fiv_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[1]/td[2]/a")
            url_.append(fiv_str.get_attribute('href'))
        except: pass
        try:
            four_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[2]/td[2]/a")
            url_.append(four_str.get_attribute('href'))
        except: pass
        
        for i in url_:
            driver.get(i)
            time.sleep(1)
            for i in range(10):
                ids = driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none review-views celwidget']/div")
                comment_ids = []
                for i in ids:
                    comment_ids.append(i.get_attribute('id'))

                for x in comment_ids:
                    #Extract user ids from each user on a page
                    try:
                        review_title = driver.find_element_by_xpath('//*[@id="' + x +'"]/div/div/div[2]/a[2]/span[1]')
                        title.append(review_title.get_attribute("innerHTML"))
                    except NoSuchElementException:
                        title.append('')

                    try:
                        rating = driver.find_element_by_xpath('//*[@id="' + x +'"]/div/div/div[2]/a[1]/i/span[1]')
                        ratings.append(rating.get_attribute("innerHTML"))
                    except NoSuchElementException:
                        ratings.append('')

                    try:
                        text = driver.find_element_by_xpath('//*[@id="' + x +'"]/div/div/div[4]/span/span')
                        review_text.append(text.get_attribute("innerHTML"))
                    except NoSuchElementException:
                        review_text.append('')
                try:
                    driver.find_element_by_xpath("//ul[@class='a-pagination']/li[2]/a").click()
                    time.sleep(3)
                except : break

In [37]:
len(ratings), len(title), len(review_text)

(49056, 49056, 49056)

In [38]:
#creating a dataframe
data = list(zip(title,review_text,ratings))
df = pd.DataFrame(data, columns = ["Review_title","Reiew_text","Ratings"])
df

,Review_title,Reiew_text,Ratings
0,Suitable for School kids,\n If you are a College student or a professi...,2.0 out of 5 stars
1,Misrepresentation on MS Office 2019 license - ...,\n Update after one month usage - MS Office 2...,2.0 out of 5 stars
2,The sold me renewed laptop,\n Itâ€™s look like renewed laptop because lapt...,2.0 out of 5 stars
3,Amazon dupes with specification/ battery sucks,\n &nbsp;I had seen the specifications and bo...,2.0 out of 5 stars
4,Display back light issue,\n Display gone with 2 months.. But anyway th...,2.0 out of 5 stars
...,...,...,...
49051,Good,\n Wifi signal strength is good but if someon...,4.0 out of 5 stars
49052,Go for it. Worth dual band router at 2.4k,\n Its worth with discounted price i got.<br>...,4.0 out of 5 stars
49053,Good one,\n Actually i am using this router to reach r...,4.0 out of 5 stars
49054,Get one for you.,"\n The overall product is nice.<br>But, to se...",4.0 out of 5 stars
49055,,,

In [41]:
#saving the data into csv file
df.to_csv(r"C:\Users\ABHINANDAN\Desktop\amazon1_reviews.csv")

In [40]:
#lets load the flipkart reviews file
flpkrt = pd.read_csv(r"C:\Users\ABHINANDAN\Desktop\flipkrt1_reviews.csv")
flpkrt

,Unnamed: 0,Review_title,Reiew_text,Ratings
0,0,Super!,Most Powerful Portable laptop...\nBuild qualit...,5
1,1,Just wow!,I was a little apprehensive initially when I o...,5
2,2,Highly recommended,I was looking for a powerful and compact lapto...,5
3,3,Terrific purchase,Just blown away with this beast machine!\nAfte...,5
4,4,Nothing special,The product is very good in some aspects but v...,1
...,...,...,...,...
28489,28489,Nice product,good product,4
28490,28490,Awesome,Very good as expected and happy with the purchase,5
28491,28491,Awesome,I love it! No complaint!,5
28492,28492,Nice product,good product,4
28493,28493,Awesome,Very good as expected and happy with the purchase,5

In [42]:
reviews = pd.concat([df, flpkrt],ignore_index=True)
reviews

,Review_title,Reiew_text,Ratings,Unnamed: 0
0,Suitable for School kids,\n If you are a College student or a professi...,2.0 out of 5 stars,NaN
1,Misrepresentation on MS Office 2019 license - ...,\n Update after one month usage - MS Office 2...,2.0 out of 5 stars,NaN
2,The sold me renewed laptop,\n Itâ€™s look like renewed laptop because lapt...,2.0 out of 5 stars,NaN
3,Amazon dupes with specification/ battery sucks,\n &nbsp;I had seen the specifications and bo...,2.0 out of 5 stars,NaN
4,Display back light issue,\n Display gone with 2 months.. But anyway th...,2.0 out of 5 stars,NaN
...,...,...,...,...
77545,Nice product,good product,4,28489.0
77546,Awesome,Very good as expected and happy with the purchase,5,28490.0
77547,Awesome,I love it! No complaint!,5,28491.0
77548,Nice product,good product,4,28492.0
77549,Awesome,Very good as expected and happy with the purchase,5,28493.0

In [43]:
reviews.drop(columns = 'Unnamed: 0', inplace=True)

In [44]:
reviews

,Review_title,Reiew_text,Ratings
0,Suitable for School kids,\n If you are a College student or a professi...,2.0 out of 5 stars
1,Misrepresentation on MS Office 2019 license - ...,\n Update after one month usage - MS Office 2...,2.0 out of 5 stars
2,The sold me renewed laptop,\n Itâ€™s look like renewed laptop because lapt...,2.0 out of 5 stars
3,Amazon dupes with specification/ battery sucks,\n &nbsp;I had seen the specifications and bo...,2.0 out of 5 stars
4,Display back light issue,\n Display gone with 2 months.. But anyway th...,2.0 out of 5 stars
...,...,...,...
77545,Nice product,good product,4
77546,Awesome,Very good as expected and happy with the purchase,5
77547,Awesome,I love it! No complaint!,5
77548,Nice product,good product,4
77549,Awesome,Very good as expected and happy with the purchase,5

In [48]:
#saving the data into csv file
reviews.to_csv(r"C:\Users\ABHINANDAN\Desktop\Review_rating.csv")